:root {
    --color-primary: #EBD3FA;
    --color-secondary: #E3AADD;
    --color-third: #C8A8E9;
    --color-fourth: #A993D8;
    --color-fifth: #C3C7F3;
    --font-color: #2F2F2F;
    --card-color1: #C8BBD0;
    --card-color2: #E0BBD4;
     --card-color3: #C3C7F3;
     --card-color4: #90F897;
    --card-color5: #CF8686;
     --card-color6: #EECB99;
     --color-shadow: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jersey 15', sans-serif;
}

body {
    background: #d8c8ff;
    min-height: 80vh;
    overflow: hidden;
}

/* NEW WRAPPER */
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* CONTAINER WITH BORDER RADIUS */
.container {
    width: 100%;
    max-width: 1600px;
    min-height: 97vh;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid #c3a6ff;
}

/* NAVIGATION BAR */
.navbar {
    width: 60%;
    margin: 15px auto;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #A993D8;
    backdrop-filter: blur(6px);
    border-radius: 20px;
}

.logo {
    width: 45px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 100px;
}

.brand {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: normal;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 150px;
}

.login {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

.start-btn {
    padding: 10px 22px;
    border-radius: 25px;
    border: none;
    background: white;
    font-weight: normal;
    cursor: pointer;
}

/* BACKGROUND IMAGE */
.background {
    width: 100%;
    height: 100%;
    background: url('background.png') no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* FORGOT PASSWORD CARD */
.forgot-card {
    width: 380px;
    background: white;
    padding: 30px;
    margin: 130px auto;
    border-radius: 25px;
    text-align: center;
    box-shadow: 
        0 20px 0 var(--color-shadow),   
        22px 20px 0 var(--color-shadow);  

    position: relative;
}

.forgot-card h2 {
    font-size: 24px;
    font-weight: normal;
    position: relative;
    padding-bottom: 10px;
}

.forgot-card h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 118%;
    height: 3px;
    background: var(--color-shadow);
    border-radius: 5px;
}

.forgot-card label {
    display: block;
    text-align: left;
    color: black;
    margin-bottom: 5px;
    margin-top: 10px;
}

.forgot-card input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    outline: none;
    background: #f7f7f7;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #E0BBD4;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 4px 0 #d59be8;
}

.login-text {
    font-size: 15px;
}

.login-text a {
    color: #8a4efc;
    
}
