:root {
  --fillicon: rgba(34, 34, 34, 1);
  --duotone: rgba(126, 134, 158, 0.25);
  --lineicon: rgba(51, 54, 63, 1);
  --body-medium-400-font-family: "Nunito", Helvetica;
  --body-medium-400-font-weight: 400;
  --body-medium-400-font-size: 16px;
  --body-medium-400-letter-spacing: 0px;
  --body-medium-400-line-height: 150%;
  --body-medium-400-font-style: normal;
  --jersey-XXL-font-family: "Jersey 15", Helvetica;
  --jersey-XXL-font-weight: 400;
  --jersey-XXL-font-size: 24px;
  --jersey-XXL-letter-spacing: 0px;
  --jersey-XXL-line-height: 150%;
  --jersey-XXL-font-style: normal;
  --body-tine-400-font-family: "Nunito", Helvetica;
  --body-tine-400-font-weight: 400;
  --body-tine-400-font-size: 12px;
  --body-tine-400-letter-spacing: 0px;
  --body-tine-400-line-height: 130%;
  --body-tine-400-font-style: normal;
  --jersey-heading-03-font-family: "Jersey 15", Helvetica;
  --jersey-heading-03-font-weight: 400;
  --jersey-heading-03-font-size: 40px;
  --jersey-heading-03-letter-spacing: 0px;
  --jersey-heading-03-line-height: 120.00000762939453%;
  --jersey-heading-03-font-style: normal;
  --body-large-400-font-family: "Nunito", Helvetica;
  --body-large-400-font-weight: 400;
  --body-large-400-font-size: 18px;
  --body-large-400-letter-spacing: 0px;
  --body-large-400-line-height: 150%;
  --body-large-400-font-style: normal;
  --jersey-XL-font-family: "Jersey 15", Helvetica;
  --jersey-XL-font-weight: 400;
  --jersey-XL-font-size: 20px;
  --jersey-XL-letter-spacing: 0px;
  --jersey-XL-line-height: 150%;
  --jersey-XL-font-style: normal;
  --body-XXL-400-font-family: "Nunito", Helvetica;
  --body-XXL-400-font-weight: 400;
  --body-XXL-400-font-size: 24px;
  --body-XXL-400-letter-spacing: 0px;
  --body-XXL-400-line-height: 150%;
  --body-XXL-400-font-style: normal;
  --heading-03-400-font-family: "Nunito", Helvetica;
  --heading-03-400-font-weight: 400;
  --heading-03-400-font-size: 40px;
  --heading-03-400-letter-spacing: 0px;
  --heading-03-400-line-height: 120.00000762939453%;
  --heading-03-400-font-style: normal;
}
